*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user
*.pfx
*.bak
*.opensdf
*.sdf

**/obj
**/bin
*_ReSharper.*/

**/Resource.designer.cs
packages/
nuspec/*.nupkg
nuspec/*.nuspec
NugetRepo/*
!NugetRepo/Readme.txt
Honeywell-AppKit-*.zip
testappkit/*
timestamp
**/.vs
Inspection/Inspection.Android/Platforms/Android/AndroidManifest.xml
Inspection/Inspection.iOS/Platforms/iOS/Info.plist
SolutionInfo.cs
GuidedWork/GuidedWork/MicroserviceLicenseInfo.cs
GuidedWork/GuidedWork.Maui/Platforms/Android/AndroidManifest.xml
GuidedWork/GuidedWork.Maui/Platforms/iOS/Info.plist
.sonar/
.sonarqube/
/BuildInfo.cs
**/AppBuildInfo.cs
GuidedWork.Data.zip
msbuild.log
Tools/ConfigEncryptor/ZKM_log.txt
Tools/ConfigEncryptor/jar-in-jar-loader.zip
Tools/ConfigEncryptor/.settings/
Tools/ConfigEncryptor/obfuscated/
Tools/ConfigEncryptor/ChangeLog.txt
*.pyc
Artisan/GuidedWorkArtisan/build/run.vad
Artisan/GuidedWorkArtisan/build/
Artisan/GuidedWorkArtisan/resources/publish/
*.pyo
Artisan/GuidedWorkArtisan/resources/mappings.json
Artisan/GuidedWorkArtisan/temp/
Artisan/GuidedWorkArtisan/export/

\.idea/
\.vscode/
Artisan/GuidedWorkArtisan/test_properties.cfg
Artisan/_vad_tenp_folder/
Artisan/GuidedWorkMockCatalyst/temp/
Tools/file_paths.txt
